---
layout: default
title: СПБГУГА Группа 834
---

<div class="content-wrapper col-md-12">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for subject in site.collections %}

      {% if subject.status == 'taught' %}

        <h3>{{ subject.cyrillic }}</h3>
        
        
        <ul>
          <p>mabina</p>
          {% for lesson in subject.docs %}<li> {{ lesson.date }}</li><span><a href="{{ site.baseurl }}{{ lesson.url }}">More</a></span>{% endfor %}
        
        </ul>
        
      
      
      {% endif %}
    {% endfor %}

  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
