/*font-family: 'Overlock', cursive;
font-family: 'Overlock SC', cursive;*/

body {
	font-family: 'Overlock', cursive;
    font-size: 14pt;
    color: #00183e;
    background-color: rgba(248, 248, 248, 0.2);
}

.logo .navbar-brand {
	display: inline-block;
}

.logo .navbar-brand img{
	max-width: 100%;
	border-radius: 4px;
	height: 100%;
	transition: transform 300ms ease-in-out 50ms;
}

.logo .navbar-brand img:hover{
	height: 400%;
	box-shadow: 0px 0px 5px 1px;
}

.logo a:visited{

}

.intro-questions h4{
  color: #03337b;
  font-size: 15pt;
  margin-top: 21px;

}

.subject-intro h3{
	text-decoration: underline;
	text-align: center;
}

.subject-tiles div.thumbnail {
	color: #032861;
}

.subject-tiles div.thumbnail:hover {
	color: #04419e;
}

div .thumbnail a.to-github{
	text-decoration: none;
	color: white;
}

div .thumbnail a.to-github:hover{
	text-decoration: underline;
}

.thumbnail h2 {
    background: linear-gradient(rgba(0,188,212,0.08), rgba(91, 192, 222, 0.08));
    border-radius: 8px;
    padding: 10px 0;
}

.subject-tiles div.thumbnail img{
	display: none;
}


* { box-sizing: border-box; }

/* ---- grid ---- */

.grid {
  /* center */
  margin: 5% auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
    width: 275px;
    /* height: 120px; */
    float: left;
    /* background: #D26; */
    /* border: 2px solid #333; */
    /* border-color: hsla(0, 0%, 0%, 0.5); */
    /* border-radius: 5px; */
}



.row.todays-classes {
    background: #93e7ff;
    border-radius: 4px;
    margin-bottom: 2px;
}

span#day {
    text-decoration: underline;
}

p.issue {
  background-color: #d5f4fd;
  text-align: center;
}

p.issue a {
    color: #0ba2ea;
}

p.issue a:hover{
  color: blue;
}


footer p.proudly{
	text-align: center;
}

footer.stay-bottom {
    margin-top: 20px;
    padding-top: 5px;
    background: rgba(236, 236, 236, 0.34);
}
